In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.isnull().sum()

PassengerId      4
Survived         6
Pclass           1
Name             9
Gender           0
Age            178
SibSp            8
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df['Pclass'].fillna(2,inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_47716\3090815118.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pclass'].fillna(2,inplace=True)

In [5]:
df.isnull().sum()

PassengerId      4
Survived         6
Pclass           0
Name             9
Gender           0
Age            178
SibSp            8
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64