In [1]:

import pandas as pd

In [2]:
df=pd.read_csv('predictive_maintenance.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10003 entries, 0 to 10002
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10003 non-null  int64
 1   Product ID               10003 non-null  object
 2   Type                     10003 non-null  object
 3   Air temperature [K]      10003 non-null  float64
 4   Process temperature [K]  10003 non-null  float64
 5   Rotational speed [rpm]   10003 non-null  int64
 6   Torque [Nm]              10003 non-null  float64
 7   Tool wear [min]          10003 non-null  int64
 8   Target                   10003 non-null  int64
 9   Failure Type             10003 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.6+ KB

In [3]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10002    False
10003    False
10004    False
10005    False
10006    False
Length: 10007, dtype: bool

In [3]:
df.duplicated().sum()

np.int64(7)

In [5]:
df[df.duplicated()]

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
8,8,L47187,L,298.1,308.6,1527,40.2,16,0,No Failure
22,18,M14877,M,298.7,309.2,1410,45.6,47,0,No Failure
34,33,L47212,L,299.0,309.4,1419,48.3,91,0,No Failure
36,33,L47212,L,299.0,309.4,1419,48.3,91,0,No Failure
46,40,L47219,L,298.8,309.1,1350,52.5,111,0,No Failure
54,49,H29462,H,298.8,309.2,1425,53.9,135,0,No Failure
67,61,L47240,L,298.8,309.1,1393,52.6,167,0,No Failure

In [6]:
df=df.drop_duplicates()

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [UDI, Product ID, Type, Air temperature [K], Process temperature [K], Rotational speed [rpm], Torque [Nm], Tool wear [min], Target, Failure Type]
Index: []

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 10006
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Target                   10000 non-null  int64
 9   Failure Type             10000 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 859.4+ KB

In [3]:
df.T.duplicated()

UDI                        False
Product ID                 False
Type                       False
Air temperature [K]        False
Process temperature [K]    False
Rotational speed [rpm]     False
Torque [Nm]                False
Tool wear [min]            False
Target                     False
Failure Type               False
dtype: bool

In [5]:
df.T[df.T.duplicated()]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 10007 columns]

In [9]:
df=df.loc[:,~df.T.duplicated()]

In [11]:
df.T.duplicated()

UDI                        False
Product ID                 False
Type                       False
Air temperature [K]        False
Process temperature [K]    False
Rotational speed [rpm]     False
Torque [Nm]                False
Tool wear [min]            False
Target                     False
Failure Type               False
dtype: bool

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10007 entries, 0 to 10006
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10007 non-null  int64
 1   Product ID               10007 non-null  object
 2   Type                     10007 non-null  object
 3   Air temperature [K]      10007 non-null  float64
 4   Process temperature [K]  10007 non-null  float64
 5   Rotational speed [rpm]   10007 non-null  int64
 6   Torque [Nm]              10007 non-null  float64
 7   Tool wear [min]          10007 non-null  int64
 8   Target                   10007 non-null  int64
 9   Failure Type             10007 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.9+ KB

In [4]:
df['Failure Type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10007 entries, 0 to 10006
Series name: Failure Type
Non-Null Count  Dtype
--------------  -----
10007 non-null  object
dtypes: object(1)
memory usage: 78.3+ KB

In [3]:
df['Failure Type']=df['Failure Type'].str.replace(r'[^\d.]','',regex=True).astype(float)

ValueError: could not convert string to float: ''